.ipynb_checkpoints/
.virtual_documents/
Detailed_Plant_Diseases Using CNN.ipynb
new-plant-diseases-dataset.zip
plant-disease-recognition-dataset.zip
Untitled.ipynb
Untitled1.ipynb
plant_disease
__pycache__/