:root {
    --clr-main: hsl(120, 65%, 68%);
    --clr-main-lht: hsla(120, 65%, 68%, 0.1);
}
* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--clr-main-lht);
}
.info {
    margin-inline: auto;
    margin-block: 4em;
    padding: 30px;
    width: max-content;
    background-color: white;
    outline: 2px solid var(--clr-main);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    margin-top: 0;
    color: var(--clr-main);
    i {
        transform: rotate(-15deg);
    }
}
.leaf-icon {
    vertical-align: middle;
    margin-right: 10px;
}
.back {
    position: absolute;
    top: 1em;
    left: 0;
    background-color: var(--clr-main);
    text-decoration: none;
    overflow: hidden;
    height: 40px;
    width: 20px;
    padding-top: 10px;
    padding-inline: 10px;
    border-radius: 0 999px 999px 0;
    transition: width 150ms;
    &:hover {
        width: 130px;
        transition: width 180ms;
        span {
            opacity: 1;
            transition: opacity 180ms;
        }
    }
    span {
        opacity: 0;
        color: hsl(0, 0%, 96%);
        font-weight: 500;
        text-wrap: nowrap;
    }
    i {
        margin-right: 7px;
    }
}
.info > p:last-child {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .info {
        width: 710px;
        margin-top: 4.5em;
    }
}
@media (max-width: 425px) {
    .info {
        width: 380px;
    }
    h1 {
        font-size: 30px;
    }
}