body {
    font-family: Arial, "Helvetica", sans-serif; 
    background-color: #FFFFFF; 
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   }
   .container {
       background-color: #274E13;
       padding: 40px;
       border-radius: 40px;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
       text-align: center;
       width: 400px;
   }

   h1 { 
       color: rgb(5, 119, 5);
   }

   p {
       color: #666;
       margin-bottom: 40px;
   }

  /* input[type="file"]{
       padding: 10px;
       margin-bottom: 20px;
   }  */

   button {
       background-color: rgb(7, 116, 13);
       border: none;
       border-radius: 6px;
       padding: 10px 20px;
       font-size: 16px;
       cursor: pointer;
   }

   button:hover {
       background-color: #45a049;
   }

   result {
       margin-top: 20px;
       font-size: 18px;
       color: #333;
   }